 /* ===========================/
          // variables
 /========================== */

   //font colors
  $headline-primary: #58e1c1;
  $headline-secondary: #777;
  $white: #fff;

  // background colors
  $warning-bg: #eb6f5c;
  $success-bg: #63cc82;
  $error-bg: #e4757a;
  $purple-bg: #927bc1;
  $default-bg: #51ddfc;
  $lightblue-bg: #7ee6fd;
  $limegreen-bg: #88d9a0;
  $rosepurple-bg: #deb2ee;
  /* Media Query vars */
 $breakpoint-tablet: 768px;