 /* ===========================/
          // variables
 /========================== */

   //font colors
  $headline-primary: #58e1c1;
  $headline-secondary: #777;
  $white: #fff;

  // background colors
  $warning-bg: #fd7865;
  $success-bg: #63cc82;
  $error-bg: #e4757a;
  
  /* Media Query vars */
 $breakpoint-tablet: 768px;