.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}
  .default {
    background-color: $default-bg;
  }
  
  .error {
    background-color: $error-bg;
  }
  
  .info {
    background-color: $purple-bg;
  }
  
  .success {
    background-color: $success-bg;
  }
  
  .warning {
    background-color: $warning-bg;
  }


  @media(min-width: $breakpoint-tablet) {
    .btn {
        padding: 10px 30px;
      }
      
      .btn + .btn {
        margin-left: 10px;
      }
  }