.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  .btn:hover {
    transform: scale(.99);
  }
}

.default {
  background-color: $default-bg;
}

.error {
  background-color: $error-bg;
}

.info {
  background-color: $purple-bg;
}

.success {
  background-color: $sucess-bg;
  
  &:hover {
    background-color: lighteness($sucess-bg, 15%);
  }
}

.warning {
  background-color: $warning-bg;

  &:hover {
    background-color: lighten($warning-bg, 65%);
  }
}



@include tablet-size {
  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  

}