.img-avatar {
   @include image-center;
   
  }
  
  .img-frame {
    @include image-center;
    padding: 13px;
    border: 1px solid #ccc;
  }
  .img-logo {
    @include center;
  }

    .logo {
      @include tablet-size;
        margin-left: initial;
        margin-right: initial;
      }
  