* {
    font-family: 'Lato', sans-serif;
    color: #777;
    box-sizing: border-box;

    a {
        text-decoration: none;
        font-weight: 700;
        color: #51ddfc;
    }
    h1 {
        color: #58e1c1;
    } 
    h4 {
        font-weight: 300;
        color: #777;
    }

    p {
      line-height: 1.45em;
      font-size: 1.5em;
      font-weight: 300;
     
    }

}



